/* 
https://3fd1-79-159-228-201.eu.ngrok.io/

*/


html{ 
    margin: -8px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-areas: 
    'column   main1    main2';
    padding: 15px 10% 0% 10%;
}

.header{
    /* esto se mira y no se toca :3 */
    top: 0;
    width: 100%;
    background-color: white;
    grid-area:header;
    /* position: fixed; */
    /* padding: 10px; */
    text-align: center;
}
nav{
    grid-area: nav;
    flex-direction: row;
    display: flex;
    align-items: center;
    height: 80%;
    text-align: center;
}



ul {
    border-top: 1px solid #999183;
    border-bottom: 1px solid #999183;
    width: 100%;
    list-style-type: none;
    margin: 0;
    align-items: cente;
    padding: 6px 0px 9px 0;

}

nav a{
    text-decoration: none;
    /* font-size: 100%; */
    font-size: 10px;
    padding: 0 1px 0 5px;
}

nav li a{
    color: black;
}
li {
    display: inline-block;
    /* padding: 0px 5px 0px 5px; */
    background-color: white;
 
}
a{
    color: black;
    text-decoration: none;
}
.imagen-header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    padding: 7px 0 5px 0;
}






footer{
    /* esto no se TOCA PORFAVOR T_T */
    position: absolute;
    width: 100%;
    background-color: rgb(34,34,34);
    bottom: -100;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: absolute; */
    font-size: 70%;
    clear: both;
    position: absolute;
}


.xarxes-socials{
    margin: 15px;
    color: aliceblue;
    text-decoration: none;
    /* transition: 0.4s; */
}

.xarxes-socials:hover{
    color: #59bd93;
    text-decoration: none;
    transition: 0.4s;
}

