* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  .header {
margin-bottom: 5%;
}
  
  .title {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  .hero {
    background-color: black;
    color: #635a29;
    padding: 50px 0;
  }
  
  .hero-text {
    text-align: center;
  }
  
  .hero-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .hero-subtitle-border {
    height: 2px;
    width: 20%;
    background-color: rgb(0, 0, 0);
    margin: 0 10px;
  }
  
  .recipe {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .recipe-img {
    flex-basis: 45%;
    margin-right: 20px;
  }
  
  .recipe img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .recipe-content {
    flex-basis: 50%;
  }
  
  .recipe-content h3 {
    font-size: 24px;
    color: black;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .recipe-content ul,
  .recipe-content ol {
    list-style: none;
    font-size: 18px;
    color: #4d4d4d;
    margin-bottom: 30px;
  }
  
  .recipe-content ul li,
  .recipe-content ol li {
    margin-bottom: 5px;
  }
  
  .recipe-content ol {
    counter-reset: step;
  }
  
  .recipe-content ol li {
    counter-increment: step;
    margin-bottom: 10px;
    position: relative;
  }
  
  .recipe-content ol li:before {
    content: counter(step);
    font-weight: bold;
    font-size: 20px;
    color: #FFD700;
    position: absolute;
    left: -30px;
    top: 2px;
  }

  .footer {
    margin-top: 7%;
;
  }
  
  @media screen and (max-width: 768px) {
    .recipe {
      flex-direction: column;
    }
  
    .recipe-img {
      margin-right: 0;
      margin-bottom: 20px;
      flex-basis: 100%;
    }
  
    .recipe-content {
      flex-basis: 100%;
    }
  
    .hero {
      padding: 60px 0;
    }
  
    .hero-subtitle {
      margin-top: 10px;
    }
  
    .hero-subtitle-border {
      height: 1px;
    }
  
    .recipe-content h3 {
      font-size: 20px;
    }
  
    .recipe-content ul,
    .recipe-content ol {
      font-size: 16px;
    }
  
    .recipe-content ol li:before {
      font-size: 18px;
      left: -25px;
    }
  }
  